{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Artwork Plus...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To our ecom website...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br /><br />
                <h3 align="justify">
                    Artwork Plus is a special art company. We sell beautiful artworks. Our goal is to help people. When
                    you buy art from us, the money goes to charities. We support many good causes. <br><br>

                    Artwork Plus was created by César Godio and Victor Pierlot. They love art and helping others. Our
                    mission is to make the world better with art. <br><br>

                    Join us and make a difference! 🎨✨ <br><br><br><br><br>
                </h3>
                <br /><br />
            </div>
        </center>
    </div>
</div>

{% endblock %}